@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~antd/dist/antd.css';

.App {
  /* width: 80%;
  height: 200%;
  margin: 0 auto; */
  display: block;
}

.slide img {
  width: 200%;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 1;
  z-index: 2;
  position: relative;
  right: 50%;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
  z-index: 3;
  position: relative;
}

.arrow {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #2cd4ac;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.site-card-border-less-wrapper {
  width: 50%;
  margin: auto;
  padding: 30px;
  background: #ececec;
}

.profile-span {
  margin-left: 50px;
}

.slick-list {
  margin: auto 20px;
}

.slick-slide {
  padding: 10px;
}
