@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';
@import '~antd/dist/antd.css';

.App {
  width: 80%;
  height: 200%;
  margin: 3rem auto;
  /* display: block; */
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide {
  transform: scale(0.6);
  transition: transform 300ms;
  opacity: 0.6;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.arrow {
  background-color: transparent;
  position: absolute;
  cursor: pointer;
  z-index: 10;
}

.arrow svg {
  transition: color 300ms;
}

.arrow svg:hover {
  color: #68edff;
}

.next {
  right: 0%;
  top: 50%;
}

.prev {
  left: 0%;
  top: 50%;
}

.site-card-border-less-wrapper {
  width: 50%;
  margin: auto;
  padding: 30px;
  background: #ececec;
}

.profile-span {
  margin-left: 50px;
}

.slick-list {
  margin: auto 20px;
}

.slick-slide {
  padding: 10px;
}

.ant-card {
  height: 500px;
}
